/EXTRA_NOT_USED
/DB/DataBackup
/CCA_Contingencia.zip
/DB/PythonScripts/.netrc
/DB/PythonScripts/OldVersion/
/DB/PythonScripts/fix.sql
/DB/PythonScripts/tags
/DB/PythonScripts/test.sql
/HoyoDeSmog/
/AngelPlots/
/Matlab/Figures/
/Tesis_Distribucion_Espacial_de_Ozono_Guadalajara.docx
/WRF/
*.idea
*.csv
*.pyc
*.swp
/WebService/dist/
