.one_chart{
	width: 27%;
	padding: 15px;
	margin: 30px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    float: left;
}

@media (max-width: 999px){
	.one_chart {
	    width: 90%;
	    padding: 5px;
	    margin: 15px;
	}
}

@media (min-width: 1000px) and (max-width: 1600px){
	.one_chart {
	    width: 45%;
	    padding: 5px;
	    margin: 15px;
	}
}

header.major {
    margin-top: 7%;
}
header.major h4 {
	text-align: center;
}
header .button-primary{
    margin-top: 28px;
}

.container_charts{	
    padding-top: 5%;
	width: 90%;
    position: relative;
    margin: 0 auto;
}